body {
  font-family: 'Open Sans', sans-serif;
  background-color: #1a1a1a;
  color: #ffffff;
  margin: 0;
}

/* Header Styling */
header {
  background-color: #343a40;
  padding: 20px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Navbar Styling */
.navbar-nav a {
  padding: 15px 20px;
}

.navbar-nav a:hover {
  background-color: #555;
}

/* About Section Styling */
#about h1 {
  font-size: 2em;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* Work Section Styling */
.work-item {
  margin-bottom: 40px;
  padding: 15px;
}

.work-item p {
  margin-top: 15px;
  font-weight: bold;
  text-align: center;
}

/* Contact Section Styling */
#contact {
  text-align: center;
}

#contact p {
  margin-bottom: 10px;
}

.section-spacing {
  margin-bottom: 300px;
}

.center {
  text-align: center;
}

/* Font for Work, About, and Contact sections */
#about, #work, #contact {
  font-family: 'Montserrat', sans-serif;
}

#about {
  border-bottom: 1px solid #ddd;
  background-color: #1a1a1a;
  color: #ffffff;
  height: 100vh;
}

.vertical-border {
  border-right: 2px solid #ddd;
  padding-right: 15px;
  padding-left: 15px;
  border-color: #ffffff;
}

.img-container:hover {
  border: 2px solid #ffc107;
  box-shadow: 0 0 10px rgba(255, 193, 7, 0.8);
}

.work-item {
  margin-bottom: 20px;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.work-item:hover .overlay {
  opacity: 1;
}

.overlay a {
  margin: 10px;
  color: #fff;
  text-decoration: none;
}


.option-link {
  margin: 10px;
  padding: 10px;
  background-color: #343a40; /* Default background color */
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.option-link:hover {
  background-color: #007bff; /* Background color on hover */
}

.card-body {
  color: #212529; /* Set a dark color for better visibility */
}

h2{
  text-decoration: underline;
}

@media only screen and (max-width: 867px) {
  #about h1,
  #work h2,
  #contact h2 {
    font-size: 1.5em; /* Adjust the font size for better visibility on smaller screens */
  }

  .vertical-border {
    border-right: none; /* Remove right border on smaller screens */
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 15px; /* Add some spacing between sections on smaller screens */
  }

  .section-spacing {
    margin-bottom: 150px; /* Adjust spacing between sections on smaller screens */
  }
}

/* Tablet Styles - Adjust based on your needs */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #about h1,
  #work h2,
  #contact h2 {
    font-size: 1.8em; /* Adjust the font size for tablets */
  }

  .vertical-border {
    /* Adjust tablet styles as needed */
  }

  .section-spacing {
    /* Adjust tablet styles as needed */
  }
}




























